name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  run-suite:
    strategy:
          matrix:
            os: [ubuntu-latest, windows-latest, macOS-latest]
            
    runs-on: ${{ matrix.os }}
  
    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --release --verbose
    - name: Run tests
      run: cargo run --release
